*, ::after, ::before {
  box-sizing: border-box;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
svg {
  font-family: 'Barlow', sans-serif;
}

body {
  color: #1B3A52;
  background: rgb(247, 249, 251);
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background: #1b3a52;
}
header img {
  width: 190px;
  margin: 1.25rem 0.5rem 1.25rem 1rem;
  vertical-align: middle;
}

main {
  padding: 0 1rem;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #050607;
}

a {
  color: rgb(0, 185, 255);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  color: #416681;
}

input, select {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
}
input:disabled {
  color: #ccc;
}

button, .btn {
  background: rgb(0, 185, 255);
  color: white;
  border-radius: 0.3rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
button:hover, .btn:hover {
  text-decoration: none;
  background: rgb(0, 105, 217);
}

.svg-button {
  background: transparent;
  color: inherit;
  box-shadow: none;
  border: none;
  padding: 0;
}
.svg-button:hover {
  background: transparent;
}
.svg-button svg {
  color: #1B3A52;
  height: 20px;
  width: 20px;
}

hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.alert {
  color: #842029;
  background: #f8d7da;
  border: 1px solid #f5c2c7;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
.alert h4 {
  color: #842029;
  margin: 0 0 0.5rem 0;
  text-align: left;
}
.alert a {
  color: #6a1a21;
  text-decoration: underline;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(70, 124, 162);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Svelte speedometer plugin customization */
#speedo-container {
  display: flex;
  justify-content: center;
}
